[submodule "npyscreen"]
	path = npyscreen
	url = https://github.com/outscale-dev/npyscreen.git
[submodule "appimage-bld"]
	path = appimage-bld
	url = https://github.com/outscale-dev/osc-tui-appimage-builder.git
