appdirs==1.4.3
astroid==2.3.3
attrs==19.3.0
autopep8==1.4.4
black==19.10b0
certifi==2019.9.11
chardet==3.0.4
Click==7.0
idna==2.8
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
npyscreen==4.10.5
osc-sdk-python==0.9.14
pathspec==0.6.0
pycodestyle==2.5.0
pylint==2.4.4
pyperclip==1.7.0
regex==2019.11.1
requests==2.22.0
rope==0.14.0
ruamel.yaml==0.15.94
six==1.13.0
toml==0.10.0
typed-ast==1.4.0
urllib3==1.25.6
wrapt==1.11.2
